@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

select {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	font-size: 14px;
	background-color: #fff;
	color: #000;
	cursor: pointer;
}

:root {
	--primary-color: #296789;
	--dark: #242424;
	--light: #f3f3f3;
	--gray: #999999;
	--light-gray: #dadada;
}

.container {
	max-width: 1580px;
	margin: 0 auto;
}

.link {
	&:hover {
		text-decoration: underline;
	}
}

.header {
	margin: 0 auto;
	padding-block: 24px;
}

.logo {
	height: 60px;
	width: 218px;
}

.logo-img {
	object-fit: contain;
}

.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__list {
	display: flex;
	align-items: center;
	column-gap: 30px;
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border-radius: 12px;
	background: var(--primary-color);
	padding: 16px 24px;
	font-size: 16px;
	text-align: center;
	color: white;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
	}
}

.button_small {
	padding: 8px 16px;
}

.title {
	color: var(--dark);
	font-size: 36px;
	font-weight: 500;
	line-height: normal;
	text-align: center;
}

.title_light {
	color: var(--light);
}

.title_fs60 {
	font-size: 60px;
	font-weight: 700;
	line-height: 128%;
}

.title_fs20 {
	font-size: 20px;
}

.title_fs22 {
	font-size: 22px;
}

.text {
	color: var(--dark);
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.home {
	padding: 90px 0;
	height: calc(100vh - 108px);
	max-height: 850px;
}

.home__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.home__content {
	flex-basis: 40%;
	padding-top: 70px;
}

.home__title {
	text-align: left;
	margin-bottom: 30px;
}

.home__text {
	margin-bottom: 30px;
	max-width: 50ch;
}

.home__image {
	flex-grow: 1;
	> img {
		object-fit: contain;
	}
}

.home__image img {
	width: 100%;
	height: 100%;
}

.discover {
	background-color: var(--primary-color);
	padding: 60px 0;
}

.discover__title {
	margin-bottom: 60px;
}

.discover__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1300px;
	margin: auto;
}

.discover__card {
	width: 390px;
	background-color: var(--light);
	border-radius: 12px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.28);
}
.discover__card-content {
	padding: 30px 30px 23px 30px;
}

.discover__card-title {
	text-align: start;
	margin-bottom: 12px;
}

.discover__card-img {
	width: 100%;
	height: 182px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.discover__card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.offer {
	padding: 60px 20px;
}

.offer__subtitle {
	color: #7b7b7b;
	text-align: center;
	margin: 10px 0 60px;
}

.offer__content {
	width: fit-content;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 180px;
}

.offer__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.offer__item-icon {
	width: 90px;
	height: 90px;
}

.offer_item-text {
	color: var(--dark);
	font-size: 24px;
}

.properties {
	padding: 60px 0;
}

.properties__title {
	margin-bottom: 60px;
}

.properties__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 385px);
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.properties__button {
	margin: 0 0 0 auto;
	grid-column: 1/-1;
}

.benefits {
	padding: 60px 0;
}

.benefits__title {
	margin: 0 0 60px 0;
}

.benefits__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 585px);
	justify-content: center;
	align-items: stretch;
	gap: 30px;
}

.benefits__card {
	padding: 30px;
	display: flex;
	align-items: flex-start;
	gap: 16px;
	border-radius: 12px;
	border: 1px solid var(--Gray, #dadada);
}

.benefits__card-title {
	text-align: start;
	margin-bottom: 4px;
}

.contact {
	padding: 60px 0 120px;
}

.contact__title {
	margin-bottom: 60px;
}

.contact__wrapper {
	max-width: 1100px;
	margin: auto;
	display: flex;
	gap: 115px;
}

.contact__content {
	margin-top: 80px;
}

.contact__form {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.input {
	padding: 16px 24px;
	border-radius: 12px;
	border: 1px solid #dadada;
}

.input::placeholder {
	color: #878787;
}

.contact__image {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	padding-block: 40px 32px;
	background-color: var(--dark);
	color: white;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__logo {
	margin-bottom: 24px;
}

.footer__copyright {
	color: inherit;

	> div:first-child {
		font-weight: 500;
	}
}

.footer__links {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6px;
}

.footer__links-title {
	position: relative;
	margin-bottom: 6px;
	&::before {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);
		width: 60%;
		height: 1px;
		background-color: white;
	}
}

.footer__links-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	gap: 2px;
	align-self: flex-start;
}

.footer__contacts-phone {
	font-weight: 600;
}

@media (max-width: 1740px) {
	.container {
		max-width: 1400px;
	}
}

@media (max-width: 1560px) {
	.container {
		max-width: 1260px;
	}
}

.filters {
	width: fit-content;
	margin: 60px auto;
	padding: 24px;
	background-color: #fbfbfb;
	border: 1px solid var(--light-gray);
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 12px;

	.filters__input-body {
		display: flex;
		flex-direction: column;
		gap: 8px;
		font-size: 14px;
	}

	.filters__input {
		padding: 16px 24px;
		border-radius: 12px;
		border: 1px solid var(--light-gray);
		background: #fff;
	}

	.filters__input::placeholder {
		color: var(--gray);
	}

	.filters__select {
		position: relative;

		> select {
			border-radius: 12px;
			padding: 16px 44px 16px 24px;
			border: 1px solid var(--light-gray);

			&[name="type-of-property"] {
				width: 190px;
			}

			&[name="type-of-research"] {
				width: 130px;
			}

			&[name="rooms"] {
				width: 130px;
			}
		}

		&::before {
			position: absolute;
			content: url("./icons/chevron-down.svg");
			top: 50%;
			right: 24px;
			translate: 0 -50%;
			pointer-events: none;
			width: 20px;
			height: 20px;
		}
	}

	.button {
		height: 55px;
	}
}

.listings {
	.listings__grid {
		--columns: 5;
		display: grid;
		place-content: center;
		grid-template-columns: repeat(var(--columns, 1), minmax(260px, 1fr));
		grid-auto-rows: max-content;
		gap: 16px;
		margin-bottom: 40px;

		@media (max-width: 1500px) {
			--columns: 4;
		}

		@media (max-width: 1200px) {
			--columns: 3;
		}
		@media (max-width: 900px) {
			--columns: 2;
		}
	}

	.listings__pagination {
		display: flex;
		gap: 10px;
		margin-bottom: 40px;
		justify-content: center;

		.listings__pagination-button {
			min-width: 40px;
			height: 40px;
			padding-inline: 4px;
			text-align: center;
			border-radius: 8px;
			border: 1px solid var(--light-gray);
			background: #fbfbfb;
			font-size: 14px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:hover {
				background: #ebeaea;
			}
		}
	}
}

.card {
	border-radius: 12px;
	background-color: white;
	border: 1px solid #dadada;
	overflow: hidden;

	.card-image {
		display: block;
		width: 100%;
		aspect-ratio: 3/2;
		min-height: 180px;
		max-height: 260px;
		object-fit: cover;
	}

	.card-content {
		padding: 16px 20px;
	}

	.card-price-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.card-price {
		font-size: 22px;
		font-weight: 500;
		color: var(--primary-color);
	}

	.card-type {
		font-size: 16px;
		color: var(--primary-color);
	}

	.card-title {
		font-size: 22px;
		font-weight: 600;
		color: var(--dark);
	}

	.card-location {
		font-size: 16px;
		color: var(--dark);
		margin-bottom: 16px;
	}

	.card-features {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
		font-weight: 600;
		color: var(--primary-color);
	}

	.card-features-item {
		display: flex;
		align-items: center;
		gap: 6px;
	}
}

.details {
	display: grid;
	margin-block: 60px;
}

.details__header {
	margin-bottom: 16px;
}

.details__title {
	font-size: 32px;
	font-weight: 700;
}

.details__location {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 22px;
	font-weight: 400;
}

.details__body {
	display: grid;
	grid-template-columns: 1fr min(25%, 420px);
	gap: 40px;
}

.slider {
	position: relative;
	height: 600px;

	> img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0;
		transition: 0.5s;
	}

	> img.active {
		opacity: 1;
	}

	.slider__button {
		width: 50px;
		aspect-ratio: 1;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		border: 1px solid #fff;
		background: rgba(255, 255, 255, 0.4);
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		cursor: pointer;
		transition: 0.1s;
		&:hover {
			background: rgba(255, 255, 255, 0.6);
		}
	}

	.slider__prev {
		left: 20px;
	}

	.slider__next {
		right: 20px;
	}
}

.details__agent {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 16px;
	.agent__image {
		max-width: 100px;
		max-height: 100px;
		object-fit: cover;
	}

	.agent__name {
		font-size: 20px;
		font-weight: 500;
	}

	.agent__company {
		color: var(--primary-color);
		font-size: 16px;
		font-weight: 400;
	}
}

.details__price {
	color: var(--primary-color);
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 16px;
}

.details__form {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.details__textarea {
	resize: vertical;
	min-height: 150px;
}

.details__description {
	margin-block: 24px;
	white-space: pre-line;
}

.details__features {
	margin-top: 12px;
}

.details__features-title {
	text-align: start;
	color: var(--primary-color);
	margin-bottom: 16px;
	font-size: 32px;
}

.details__features-list {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.details__features-item-title {
	color: var(--primary-color);
	margin-bottom: 16px;
}

.details__features-item-body {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 12px;

	> li div {
		font-weight: 500;
	}
}

.appliances {
	font-size: 14px;
}
